@page
@model On_Demand_Tutor_UI.Pages.Admin.Admin_IndexModel
@{
    Layout = "_Layout_Admin";
    ViewData["Admin"] = "Admin Dashboard";
}
<a href="/Admin/GetAccount" class="nav-item nav-link">Get All Account</a>
<a href="/Admin/Create_AccMod" class="nav-item nav-link">Create</a>