@page
@model On_Demand_Tutor_UI.Pages.Admin.Create_AccModModel

@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "Create_AccMod";
}

<h1>Create_AccMod</h1>

<h4>Moderator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Moderator.FullName" class="control-label"></label>
                <input asp-for="Moderator.FullName" class="form-control" />
                <span asp-validation-for="Moderator.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moderator.Password" class="control-label"></label>
                <input asp-for="Moderator.Password" class="form-control" />
                <span asp-validation-for="Moderator.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moderator.Email" class="control-label"></label>
                <input asp-for="Moderator.Email" class="form-control" />
                <span asp-validation-for="Moderator.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Admin/Admin_Index">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
