@page
@model On_Demand_Tutor_UI.Pages.AccountPages.ForgotPasswordRequestModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Forgot Password</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">We'll send you a link to your email to reset password</p>
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a asp-page="/AccountPages/LoginPage" class="btn btn-link">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>