@page "{token}"
@model On_Demand_Tutor_UI.Pages.AccountPages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Reset Password</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="Token" />
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"> New Password</label>
                            <input asp-for="NewPassword" class="form-control" type="password" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"> Confirm Password</label>
                            <input asp-for="ConfirmPassword" class="form-control" type="password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <script>
        window.onload = function() {
            alert("@TempData["SuccessMessage"]");
            window.location.href = '/AccountPages/LoginPage';
        };
    </script>
}
