@page
@model On_Demand_Tutor_UI.Pages.Tutor.Tutor_IndexModel
@{
    Layout = "_Layout_Admin";
    ViewData["Tutor"] = "Tutor Dashboard";
}
<a href="/Tutor/ViewStudentRegisted" class="nav-item nav-link">View Student Booking</a>
<a href="/Tutor/ViewProcessingTeaching" class="nav-item nav-link">View Student Learning</a>
<a href="/Tutor/EditProfile" class="nav-item nav-link">Edit Profile</a>
<a href="/Tutor/UploadAchievementModel" class="nav-item nav-link">View Student Learning</a>